---
const { service } = Astro.props;
const { title, bgTextColor, iconBg, iconColor, iconTextColor, image } = service;
---

<div
  class="group cursor-pointer flex justify-between items-center w-full p-10 rounded-3xl border border-black border-b-[5px] shadow-[0_1px_0_0_#000] text-bg-black transition-transform hover:scale-[1.02] hover:shadow-[0_4px_0_0_#000]"
  style={`background-color: ${service.bgColor}; color: ${service.textColor};`} data-aos="fade-right"
>
  <div class="flex flex-col gap-10 max-w-[60%]">
    <h3 class="font-medium text-2xl leading-snug">
      <span class="px-1" style={`background-color: ${bgTextColor};`}>
        {title}
      </span>
    </h3>

    <div class="flex items-center gap-3 group">
      <button
        class="rounded-full cursor-pointer p-2 transition-colors duration-300"
        style={`background-color: ${iconBg ?? "black"};`}
      >
        <svg
          class="text-xl transition-transform duration-300 group-hover:scale-125"
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 24 24"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
          style={`color: ${iconColor ?? "#b9ff66ff"};`}
        >
          <path fill="none" d="M0 0h24v24H0z"></path>
          <path d="M6 6v2h8.59L5 17.59 6.41 19 16 9.41V18h2V6z"></path>
        </svg>
      </button>

      <p
        class="transition-all duration-300 group-hover:scale-110 group-hover:font-bold"
        style={`color: ${iconTextColor ?? "black"};`}
      >
        Ver más
      </p>
    </div>
  </div>

  <div class="flex items-center">
    <img alt="service" class="w-[140px] object-contain" src={image} />
  </div>
</div>
